:root {  
  --color-t: transparent;
  --color-1: #4e73df;
  --color-2: #6610f2;
  --color-3: #6f42c1;
  --color-4: #e83e8c;
  --color-5: #e74a3b;
  --color-6: #fd7e14;
  --color-7: #f6c23e;
  --color-8: #1cc88a;
  --color-9: #20c9a6;
  --color-10: #36b9cc;
  --color-11: #fff;
  --color-12: #858796;
  --color-13: #5a5c69;
  --color-14: #f8f9fc;
  --color-15: #224abe;
  --color-16: #fcf8e3;
  --color-17: #dddfeb;
  --color-18: #3a3b45;
  --color-19: #e3e6f0;
  --color-20: #cdd8f6;
  --color-21: #a3b6ee;
  --color-22: #b7c7f2;
  --color-23: #dddde2;
  --color-24: #c0c1c8;
  --color-25: #cfcfd6;
  --color-26: #bff0de;
  --color-27: #89e2c2;
  --color-28: #aaebd3;
  --color-29: #c7ebf1;
  --color-30: #96dbe4;
  --color-31: #b3e4ec;
  --color-32: #fceec9;
  --color-33: #fadf9b;
  --color-34: #fbe6b1;
  --color-35: #f8ccc8;
  --color-36: #f3a199;
  --color-37: #f5b7b1;
  --color-38: #fdfdfe;
  --color-39: #fbfcfd;
  --color-40: #ececf6;
  --color-41: #d1d1d5;
  --color-42: #a9aab1;
  --color-43: #c4c4c9;
  --color-44: #6c6e7e;
  --color-45: #6e707e;
  --color-46: #eaecf4;
  --color-47: #d1d3e2;
  --color-48: #bac8f3;
  --color-49: #34e3a4;
  --color-50: #ed7468;
  --color-51: #2e59d9;
  --color-52: #2653d4;
  --color-53: #244ec9;
  --color-54: #717384;
  --color-55: #6b6d7d;
  --color-56: #656776;
  --color-57: #17a673;
  --color-58: #169b6b;
  --color-59: #149063;
  --color-60: #2c9faf;
  --color-61: #2a96a5;
  --color-62: #278c9b;
  --color-63: #f4b619;
  --color-64: #f4b30d;
  --color-65: #e9aa0b;
  --color-66: #e02d1b;
  --color-67: #d52a1a;
  --color-68: #ca2819;
  --color-69: #dde2f1;
  --color-70: #d4daed;
  --color-71: #cbd3e9;
  --color-72: #484a54;
  --color-73: #42444e;
  --color-74: #3d3e47;
  --color-75: #2e2f37;
  --color-76: #b7b9cc;
  --color-77: #e5ebfa;
  --color-78: #293c74;
  --color-79: #dce3f9;
  --color-80: #1c294e;
  --color-81: #45464e;
  --color-82: #e7e7ea;
  --color-83: #2d2e33;
  --color-84: #0f6848;
  --color-85: #d2f4e8;
  --color-86: #093b29;
  --color-87: #1c606a;
  --color-88: #d7f1f5;
  --color-89: #113b42;
  --color-90: #806520;
  --color-91: #fdf3d8;
  --color-92: #574516;
  --color-93: #78261f;
  --color-94: #fadbd8;
  --color-95: #4f1915;
  --color-96: #818183;
  --color-97: #fefefe;
  --color-98: #686869;
  --color-99: #2f3037;
  --color-100: #dedee1;
  --color-101: #18181c;
  --color-102: #000;
  --color-103: #f7f7f7;
  --color-104: #ebebeb;
  --color-105: #60616f;
  --color-106: #13855c;
  --color-107: #258391;
  --color-108: #dda20a;
  --color-109: #be2617;
  --color-110: #c2cbe5;
  --color-111: #373840;
  --color-112: #007bff;
  --color-113: #ea4335;
  --color-114: #e12717;
  --color-115: #e6e6e6;
  --color-116: #d62516;
  --color-117: #dfdfdf;
  --color-118: #3b5998;
  --color-119: #30497c;
  --color-120: #2d4373;
}

[data-theme='dark'] {
  --color-t: transparent;
  --color-1: #4e73df;
  --color-2: #6610f2;
  --color-3: #6f42c1;
  --color-4: #e83e8c;
  --color-5: #e74a3b;
  --color-6: #fd7e14;
  --color-7: #f6c23e;
  --color-8: #1cc88a;
  --color-9: #20c9a6;
  --color-10: #36b9cc;
  --color-11: #fff;
  --color-12: #858796;
  --color-13: #5a5c69;
  --color-14: #f8f9fc;
  --color-15: #224abe;
  --color-16: #fcf8e3;
  --color-17: #dddfeb;
  --color-18: #3a3b45;
  --color-19: #e3e6f0;
  --color-20: #cdd8f6;
  --color-21: #a3b6ee;
  --color-22: #b7c7f2;
  --color-23: #dddde2;
  --color-24: #c0c1c8;
  --color-25: #cfcfd6;
  --color-26: #bff0de;
  --color-27: #89e2c2;
  --color-28: #aaebd3;
  --color-29: #c7ebf1;
  --color-30: #96dbe4;
  --color-31: #b3e4ec;
  --color-32: #fceec9;
  --color-33: #fadf9b;
  --color-34: #fbe6b1;
  --color-35: #f8ccc8;
  --color-36: #f3a199;
  --color-37: #f5b7b1;
  --color-38: #fdfdfe;
  --color-39: #fbfcfd;
  --color-40: #ececf6;
  --color-41: #d1d1d5;
  --color-42: #a9aab1;
  --color-43: #c4c4c9;
  --color-44: #6c6e7e;
  --color-45: #6e707e;
  --color-46: #eaecf4;
  --color-47: #d1d3e2;
  --color-48: #bac8f3;
  --color-49: #34e3a4;
  --color-50: #ed7468;
  --color-51: #2e59d9;
  --color-52: #2653d4;
  --color-53: #244ec9;
  --color-54: #717384;
  --color-55: #6b6d7d;
  --color-56: #656776;
  --color-57: #17a673;
  --color-58: #169b6b;
  --color-59: #149063;
  --color-60: #2c9faf;
  --color-61: #2a96a5;
  --color-62: #278c9b;
  --color-63: #f4b619;
  --color-64: #f4b30d;
  --color-65: #e9aa0b;
  --color-66: #e02d1b;
  --color-67: #d52a1a;
  --color-68: #ca2819;
  --color-69: #dde2f1;
  --color-70: #d4daed;
  --color-71: #cbd3e9;
  --color-72: #484a54;
  --color-73: #42444e;
  --color-74: #3d3e47;
  --color-75: #2e2f37;
  --color-76: #b7b9cc;
  --color-77: #e5ebfa;
  --color-78: #293c74;
  --color-79: #dce3f9;
  --color-80: #1c294e;
  --color-81: #45464e;
  --color-82: #e7e7ea;
  --color-83: #2d2e33;
  --color-84: #0f6848;
  --color-85: #d2f4e8;
  --color-86: #093b29;
  --color-87: #1c606a;
  --color-88: #d7f1f5;
  --color-89: #113b42;
  --color-90: #806520;
  --color-91: #fdf3d8;
  --color-92: #574516;
  --color-93: #78261f;
  --color-94: #fadbd8;
  --color-95: #4f1915;
  --color-96: #818183;
  --color-97: #fefefe;
  --color-98: #686869;
  --color-99: #2f3037;
  --color-100: #dedee1;
  --color-101: #18181c;
  --color-102: #000;
  --color-103: #f7f7f7;
  --color-104: #ebebeb;
  --color-105: #60616f;
  --color-106: #13855c;
  --color-107: #258391;
  --color-108: #dda20a;
  --color-109: #be2617;
  --color-110: #c2cbe5;
  --color-111: #373840;
  --color-112: #007bff;
  --color-113: #ea4335;
  --color-114: #e12717;
  --color-115: #e6e6e6;
  --color-116: #d62516;
  --color-117: #dfdfdf;
  --color-118: #3b5998;
  --color-119: #30497c;
  --color-120: #2d4373;
}

