/* Colores por defecto (Light) */
[data-theme='light'] {
  .text-info {
    color: #36b9cc !important;
  }
  .text-white {
    color: #000 !important;
  }
  .text-black {
    color: #000 !important;
  }
  .text-gray-600 {
    color: #858796 !important;
  }
  .btn-primary, 
  .btn-primary:hover, 
  .btn-primary:disabled {
    background-color: #0d6efd !important;
    border-color: #0d6efd;
    color: #fff !important;
  }
  .bg-primary {
    background-color: #0d6efd !important;
    color: #fff !important;
  }
  .bg-white {
    color: #000;
    background-color: #fff !important;
  }
}

/* Colores para Dark Mode */
[data-theme='dark'] {
  .text-info {
    color: #43595d !important;
  }
  .text-white {
    color: #fff !important;
  }
  .text-black {
    color: #fff !important;
  }
  .text-gray-600 {
    color: #dbdce2 !important;
  }
  .btn-primary, 
  .btn-primary:hover, 
  .btn-primary:disabled {
    background-color: #6b6a6a !important;
    border-color: #6b6a6a;
    color: #fff;
  }
  .bg-primary {
    background-color: #6b6a6a !important;
    color: #fff;
  }
  .bg-white {
    color: #fff;
    background-color: #a19f9f !important;
  } 
}