/* El contenedor principal se convierte en un flex-col */
.layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ocupa el 100% de la ventana */
  width: 100%;
}

.fondo-encabezado {
  background-color: var(--fondo-navbar-principal);
  color: var(--texto-color-tab);
  flex-shrink: 0; /* Evita que el header se encoja */
}

/* navbar */
.menu {
  background-color: var(--fondo-navbar);
  color: var(--texto-color-tab);
  flex-shrink: 0;
  
  a:hover {
    background-color: var(--tab-select);
    color: var(--texto-color-tab);
  }
}

.activo {
  background-color: var(--tab-activa);
  .nav-link {
    color: var(--texto-color-tab)
  }
  .borde-menu {
    border-left-style: inset;
  }
}

/* área de contenido */
.contenido {
  flex-grow: 1; 
  margin-top: 0; 
  padding-top: 2rem; 
  background-color: var(--contenido-index);
  color: var(--texto-color);
  
  display: block; 
}

/* Estilo adicional para los elementos de lista del menú */
.navbarPersonalizado {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.sticky-footer {
  background-color: var(--contenido-index);
  color: var(--texto-color);
}