$navbarPrincipal: #007bff;
$textoColor: #ffffff;

$opcionNavbarActiva: #008000;
$opcionNavbarSelect: #008000;
$fondoNavbar: #e0e0e0;

$fondoFooter: #008000;

$bordeColor: coral;

.fondo-encabezado {
  background-color: $navbarPrincipal;
  color: $textoColor;
}

.borde-menu {
  border-left-style: solid;
  border-left-color: $bordeColor;
}

/* navbar */
.menu {
  background-color: $fondoNavbar;
  color: $textoColor;
  // top: 0;
  a:hover {
    background-color: $opcionNavbarSelect;
    color: $textoColor;
  }
}

.activo {
  background-color: $opcionNavbarActiva;
  .nav-link {
    color: $textoColor
  }
  .borde-menu {
    border-left-style: inset;
  }
}
/* fin navbar */

 /* fin contenido */
.sticky-footer {
  background-color: var(--contenido-index);
  color: var(--texto-color);
}