:host {
  --tab: #224abe;
  --tab-select: #598bcc;
  --text-link-select: #a7a9ac;

  &[data-theme='dark'], 
  &:host-context([data-theme='dark']) {
    --tab: #4f5050;
    --tab-select: #a7a9ac;
    --text-link-select: #fff;
  }
}

.navbar-nav {
  li {
    .nav-link {
      color: var(--text-link-select);
      transition: all 0.3s ease;
      &:hover {
        background-color: var(--tab);
        color: #fff !important;
      }
    }
    &.activo {
      .nav-link {
        background-color: var(--tab-select);
        color: #fff !important;
      }
    }
  }
}