.fondo-encabezado {
  background-color: var(--color-112);
  color: var(--color-11);
  flex-shrink: 0; /* Evita que el header se encoja */
}

/* navbar */
.menu {
  background-color: var(--color-16);
  color: var(--color-11);
  flex-shrink: 0;
  
  a:hover {
    background-color: var(--color-15);
    color: var(--color-11);
  }
}

.activo {
  background-color: var(--color-112);
  .nav-link {
    color: var(--color-11)
  }
  .borde-menu {
    border-left-style: inset;
  }
}
/* fin navbar */

/* área de contenido */
.contenido {
  flex-grow: 1; 
  margin-top: 0; 
  padding-top: 2rem; 
  background-color: var(--color-t);
  color: var(--color-102);
  
  display: block; 
}

/* Estilo adicional para los elementos de lista del menú */
.navbarPersonalizado {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.sticky-footer {
  background-color: var(--color-t);
  color: var(--color-102);
}