table {
  cursor: pointer;
}

.botoneria {
  display: flex;
  justify-content: flex-end; /* Alinea los botones a la derecha */
  gap: 8px; /* Espaciado entre los botones */
  margin-bottom: 10px; /* Espacio entre la botonera y la tabla */
}

/* Estilos para pantallas pequeñas (responsive) */
@media (max-width: 768px) { /* Ajusta el ancho según tus necesidades */
  .botoneria {
    justify-content: center; /* Centra los botones en pantallas pequeñas */
    flex-wrap: wrap; /* Permite que los botones pasen a la siguiente línea si no hay suficiente espacio */
  }

  .botoneria button {
    margin-bottom: 5px; /* Espacio entre los botones apilados */
    width: auto; /* Permite que el ancho del botón se ajuste al contenido */
  }
}

/* Clase para la fila seleccionada */
::ng-deep .tableDatatable tbody tr.selected-row {
  background-color: #e74c3c !important; /* Rojo */
  color: white !important;

  td {
    background-color: transparent !important;
    color: inherit !important;
  }
}

/* Opcional: transición para que el color no cambie de golpe */
::ng-deep .tableDatatable tbody tr {
  transition: background-color 0.2s ease;
}

/* Cambiar color de fondo y texto del encabezado */
::ng-deep .tableDatatable thead th {
    background-color: #1f68b1 !important; /* Azul oscuro (cámbialo al color que desees) */
    color: #ffffff !important;           /* Texto blanco */
    text-align: center;                  /* Centrar títulos */
    padding: 12px 10px !important;       /* Espaciado interno */
    border-bottom: 2px solid #1a252f !important; /* Línea divisoria inferior */
}

/* Opcional: Estilo para las flechas de ordenamiento (si las habilitas luego) */
::ng-deep .dataTables_wrapper .dataTables_paginate .paginate_button.current {
    background: #2c3e50 !important;
    color: white !important;
    border: 1px solid #2c3e50 !important;
}