<div class="">

  <div class="botoneria">
    @if(tienePermiso('crear')){
      <button class="btn btn-primary btn-sm mx-sm-1" (click)="newItem()" [disabled]="idsSeleccionados.length >= 1">
        {{ 'global-tablecrud.Options.Create' | translate}}
      </button>
    }
    @if(tienePermiso('ver')){
      <button class="btn btn-primary btn-sm mx-sm-1" (click)="seeItem()" [disabled]="idsSeleccionados.length != 1">
        {{ 'global-tablecrud.Options.See' | translate}}
      </button>
      }
    @if(tienePermiso('editar')){
      <button class="btn btn-primary btn-sm mx-sm-1" (click)="editItem()" [disabled]="idsSeleccionados.length != 1">
        {{ 'global-tablecrud.Options.Edit' | translate}}
      </button>
    }
    @if(tienePermiso('eliminar_individual')){
      <button class="btn btn-primary btn-sm mx-sm-1" (click)="deleteItem()" [disabled]="idsSeleccionados.length === 0">
        {{ 'global-tablecrud.Options.Delete' | translate}} 
      </button>
    }
    @if(tienePermiso('eliminar_multiple')){
      <button class="btn btn-primary btn-sm mx-sm-1" (click)="deleteItem()" [disabled]="idsSeleccionados.length === 0">
        {{ 'global-tablecrud.Options.Delete' | translate}} ({{idsSeleccionados.length}})
      </button>
    }
    @if(tienePermiso('estado')){
      <button class="btn btn-primary btn-sm mx-sm-1" (click)="activedItem()" [disabled]="idsSeleccionados.length === 0">
        {{ 'global-tablecrud.Options.Suspend' | translate}} ({{idsSeleccionados.length}})
      </button>
    }
    @if(tienePermiso('asignar_permisos')){
      <button class="btn btn-primary btn-sm mx-sm-1" (click)="assignItem()" [disabled]="idsSeleccionados.length != 1">
        {{ 'global-tablecrud.Options.Assign' | translate}}
      </button>
    }
    <button class="btn btn-primary btn-sm mx-sm-1" (click)="selectionClear()" [disabled]="idsSeleccionados.length === 0">
      {{ 'global-tablecrud.Options.Clean' | translate}} ({{idsSeleccionados.length}})
    </button> 
  </div>

  <table
    datatable
    class="row-border hover tableDatatable"
    [dtOptions]="dtOptions"
  >
  </table>

</div>
