:host {
  --gradient-table: radial-gradient(circle, #598bcc 16%, #224abe 100%);
  --gradient-table-select: radial-gradient(circle, #f54c4c 16%, #cc1e1e 100%);

  &[data-theme='dark'], 
  &:host-context([data-theme='dark']) {
    --gradient-table: linear-gradient(180deg, #000 20%, #000 100%);
    --gradient-table-select: radial-gradient(circle, #919494 16%, #4f5050 100%);
  }
}

::ng-deep {
  .tableDatatable {
    thead tr {
      background: var(--gradient-table) !important;
    }

    thead th {
      background-color: transparent !important;
      color: #fff !important;
      text-align: center;
      padding: 12px 10px !important;
      border-bottom: none !important;
    }

    tbody tr {
      transition: background-color 0.2s ease;

      &.selected-row {
        background: var(--gradient-table-select) !important;
        animation: selectedPulse 0.4s ease-out;

        td {
          background-color: transparent !important;
          color: #ebe6e6 !important;
          transition: all 0.3s ease;
        }
      }
    }
  }
}

table {
  cursor: pointer;
}
.table-container { /* O el nombre de tu clase principal */
  position: relative; 
  width: 100%;
}

.botoneria {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  margin-bottom: 10px;
}

/* Estilos para pantallas pequeñas (responsive) */
@media (max-width: 768px) { 
  .botoneria {
    justify-content: center; 
    flex-wrap: wrap; 
  }

  .botoneria button {
    margin-bottom: 5px; 
    width: auto; 
  }
}

/* Tu animación actual de entrada */
@keyframes selectedPulse {
  0% { transform: scale(1); }
  50% { transform: scale(0.9); } 
  100% { transform: scale(1); }
}