<div class="">
  <div class="col-xl-12 col-sm-12 row">
    <div class="col-sm-12 row p-0">
      <div class="col-sm-12 form-group">
        <label for="exampleInputEmail1">
          {{ 'mod-modules.Label.namePermission' | translate}}
        </label>
        <input type="email" class="form-control" id="exampleInputEmail1" [(ngModel)]="model.nombre" aria-describedby="emailHelp" placeholder="{{ 'mod-modules.Placeholder.namePermission' | translate}}">
        <small id="emailHelp" class="form-text text-muted">{{ 'mod-modules.Error.namePermission' | translate}}</small>
      </div>
      <div class="col-sm-12 form-group">
        <label for="exampleInputEmail1">
          {{ 'mod-modules.Label.nickPermission' | translate}}
        </label>
        <input type="email" class="form-control" id="exampleInputEmail1" [(ngModel)]="model.permiso" aria-describedby="emailHelp" placeholder="{{ 'mod-modules.Placeholder.nickPermission' | translate}}">
        <small id="emailHelp" class="form-text text-muted">{{ 'mod-modules.Error.nickPermission' | translate}}</small>
      </div>
      <div class="col-sm-12 form-group">
        <label for="exampleInputEmail1">
          {{ 'mod-modules.Label.descriptionPermission' | translate}}
        </label>
        <input type="email" class="form-control" id="exampleInputEmail1" [(ngModel)]="model.descripcion" aria-describedby="emailHelp" placeholder="{{ 'mod-modules.Placeholder.descriptionPermission' | translate}}">
        <small id="emailHelp" class="form-text text-muted">{{ 'mod-modules.Error.descriptionPermission' | translate}}</small>
      </div>
      @if(mostrarCheck){
        <div class="col-sm-12 form-group">
          <label for="exampleInputEmail1">
            {{ 'mod-modules.Label.hasModules' | translate}}
          </label>
          <input type="checkbox" [(ngModel)]="model.tiene_submodulos">
        </div>
      }
    </div>  
    <div class="col-sm-12 row p-0">
      <div class="col-sm-12">
        <button class="btn btn-sm btn-primary btnAction d-none" (click)="crearModuloPermiso()">
          {{ 'mod-modules.Buttons.createModuloPermiso' | translate}}
        </button>
      </div>
    </div>
  </div>

</div>
