.flex-container {
    display: flex;
    justify-content: center; /* Centrado horizontal */
    align-items: center;     /* Centrado vertical */
    min-height: 70vh;       /* Ocupa el 100% de la altura de la pantalla */
    width: 100%;
}

.card {
    /* Opcional: define un ancho máximo para que no se estire demasiado */
    max-width: 800px;
    width: 100%;
}