<div class="">
  <div id="wrapper">
    <div id="content-wrapper" class="d-flex flex-column u-final">
      <div id="content-main-area"> <nav class="navbar navbar-expand navbar-light bg-white topbar static-top shadow">
            <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                <div class="input-group">
                    <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                        aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="button">
                            <i class="fas fa-search fa-sm"></i>
                        </button>
                    </div>
                </div>
            </form>

            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown no-arrow d-sm-none">
                    <a class="nav-link dropdown-toggle" id="searchDropdown" role="button" data-toggle="dropdown">
                        <i class="fas fa-search fa-fw"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in">
                        <form class="form-inline mr-auto w-100 navbar-search">
                            <div class="input-group">
                                <input type="text" class="form-control bg-light border-0 small" placeholder="Search for...">
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="button"><i class="fas fa-search fa-sm"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </li>

                <li class="nav-item dropdown no-arrow mx-1">
                    <a class="nav-link dropdown-toggle" id="alertsDropdown" role="button" data-toggle="dropdown">
                        <i class="fas fa-bell fa-fw"></i>
                        <span class="badge badge-danger badge-counter">3+</span>
                    </a>
                    <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in">
                        <h6 class="dropdown-header">Alerts Center</h6>
                        <a class="dropdown-item d-flex align-items-center">
                            <div class="mr-3">
                                <div class="icon-circle bg-primary"><i class="fas fa-file-alt text-white"></i></div>
                            </div>
                            <div>
                                <div class="small text-gray-500">December 12, 2019</div>
                                <span class="font-weight-bold">A new monthly report is ready to download!</span>
                            </div>
                        </a>
                        <a class="dropdown-item text-center small text-gray-500">Show All Alerts</a>
                    </div>
                </li>

                <li class="nav-item dropdown no-arrow mx-1">
                    <a class="nav-link dropdown-toggle" id="messagesDropdown" role="button" data-toggle="dropdown">
                        <i class="fas fa-envelope fa-fw"></i>
                        <span class="badge badge-danger badge-counter">7</span>
                    </a>
                    <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in">
                        <h6 class="dropdown-header">Message Center</h6>
                        <a class="dropdown-item d-flex align-items-center">
                            <div class="dropdown-list-image mr-3">
                                <div class="status-indicator bg-success"></div>
                            </div>
                            <div class="font-weight-bold">
                                <div class="text-truncate">Hi there! I am wondering...</div>
                                <div class="small text-gray-500">Emily Fowler · 58m</div>
                            </div>
                        </a>
                        <a class="dropdown-item text-center small text-gray-500">Read More Messages</a>
                    </div>
                </li>

                <li class="nav-item dropdown no-arrow my-auto text-center">
                  <a href="javascript:void(0)"><app-globales-colormode></app-globales-colormode></a>
                  <a href="javascript:void(0)"><app-globales-idioma (cambioIdiomaEmitt)="idiomaCambiar($event)"></app-globales-idioma></a>
                </li>

                <div class="topbar-divider d-none d-sm-block"></div>

                <li class="nav-item dropdown no-arrow">
                    <a class="nav-link dropdown-toggle" id="userDropdown" role="button" data-toggle="dropdown">
                        <span class="mr-2 d-none d-lg-inline text-gray-600 small">Douglas McGee</span>
                        <img class="img-profile rounded-circle" src="../../../assets/images/undraw_profile.svg">
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in">
                        <a class="dropdown-item" [routerLink]="LAYOUT_PAGE_PROFILE" routerLinkActive="active">
                            <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i> {{ 'layout-final.DRADROPDOW_MENU_PROFILE' | translate}}
                        </a>
                        <a class="dropdown-item" [routerLink]="LAYOUT_PAGE_SETTINGS" routerLinkActive="active">
                            <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i> {{ 'layout-final.DRADROPDOW_MENU_SETTING' | translate}}
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" (click)="cerrarSession()" style="cursor: pointer;">
                            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i> {{ 'layout-final.DRADROPDOW_MENU_LOGOUT' | translate}}
                        </a>
                    </div>
                </li>
            </ul>
        </nav>
        <div id="scrollable-content">
          <div class="container-fluid mb-3">
              <router-outlet></router-outlet>
          </div>
          
          <footer class="sticky-footer bg-white shadow-lg mt-auto">
              <div class="container my-auto">
                  <div class="copyright text-center my-auto">
                    <span>Copyright &copy; {{CURRENT_YEAR}}</span>
                  </div>
              </div>
          </footer>
        </div>
      </div>
      </div>
    </div>
  </div>