<div class="card shadow mb-4">
  <h1 class="text-center m-0 mt-4 mb-2">
    {{ 'mod-users.ASSIGMENT_ADMIN_TITLE' | translate:title }}
  </h1>

  <div class="p-5">
    <div class="parent">
      @for (modulos of permisos; track modulos.mpm_permiso) {
      <div class="card mb-3">
        <div class="card-header d-flex align-items-center bg-white">
          <input class="form-check-input static-check" type="checkbox" [checked]="modulos.asignado === 1"
            (change)="asignarPermiso(modulos)">

          <a class="btn btn-link p-0 ml-2 nav-link" (click)="toggleCollapse(modulos.mpm_permiso, modulos.mpm_toogle)" >
            <i class="fas fa-info-circle text-body-emphasis ml-1 " [title]="modulos.mpm_descripcion"></i>
            {{ modulos.mpm_nombre }}
          </a>
        </div>

        @if (modulos.mpm_toogle) {
        <div class="card-body" [class.bg-light]="modulos.mpm_id !== 17">
          <div class="row">
            @for (subModulos of modulos.children; track subModulos.mpm_permiso) {

            @if (subModulos.mpm_modulo_padre_id !== 17) {
            <div class="col-md-6 mb-3">
              <div class="card sub-card h-100">
                <div class="card-header d-flex align-items-center bg-white">
                  <input class="form-check-input static-check" type="checkbox" [checked]="subModulos.asignado === 1"
                    (change)="asignarPermiso(subModulos)">
                  <label class="form-check-label ml-2">
                    <i class="fas fa-info-circle text-body-emphasis ml-1" [title]="subModulos.mpm_descripcion"></i>
                    <span class="ml-2">{{ subModulos.mpm_nombre }}</span>
                  </label>
                </div>
                <div class="card-body">
                  @for (acciones of subModulos.children; track acciones.mpm_permiso) {
                  <div class="form-check d-flex align-items-center mb-2">
                    <input class="form-check-input" type="checkbox" [checked]="acciones.asignado === 1"
                      (change)="asignarPermiso(acciones)">
                    <label class="form-check-label ml-2">
                      <i class="fas fa-info-circle text-body-emphasis ml-1" [title]="acciones.mpm_descripcion"></i>
                      {{ acciones.mpm_nombre }}
                    </label>
                  </div>
                  }
                </div>
              </div>
            </div>
            } @else {
            <div class="col-12 mb-2">
              <div class="form-check d-flex align-items-center">
                <input class="form-check-input" type="checkbox" [checked]="subModulos.asignado === 1"
                  (change)="asignarPermiso(subModulos)">
                <label class="form-check-label ml-2">
                  <i class="fas fa-info-circle text-body-emphasis ml-1" [title]="subModulos.mpm_descripcion"></i>
                  {{ subModulos.mpm_nombre }}
                </label>
              </div>
            </div>
            }
            }
          </div>
        </div>
        }
      </div>
      }
    </div>
  </div>
</div>