<div class="flex-container">
    <div class="card">
        <div class="card-body text-center">
            <img src="https://icons.iconarchive.com/icons/awicons/vista-artistic/128/delete-icon.png" width="80px">
            <div class="m-4"></div>
            <h3>{{ 'global-notfound.MSJ_NOT_FOUND' | translate}}</h3>
            <div class="m-4">
                <a [routerLink]="_PAGE_BACK_FINAL" class="item">
                    {{ 'global-notfound.BACK' | translate}}
                </a>
            </div>
        </div>
    </div>    
</div>