<div class="">
  <div class="col-xl-12 col-sm-12 row">
    <div class="col-sm-12 row p-0">
      <div class="col-sm-12 form-group">
        <label for="exampleInputEmail1">
          {{ 'mod-modules.LABEL_PERMISSION_NAME' | translate}}
        </label>
        <input type="email" class="form-control" id="exampleInputEmail1" [(ngModel)]="model.nombre" aria-describedby="emailHelp" placeholder="{{ 'mod-modules.PLACEHOLDER_PERMISSION_NAME' | translate}}">
        <small id="emailHelp" class="form-text text-muted">{{ 'mod-modules.ERROR_PERMISSION_NAME' | translate}}</small>
      </div>
      <div class="col-sm-12 form-group">
        <label for="exampleInputEmail1">
          {{ 'mod-modules.LABEL_PERMISSION_NICKNAME' | translate}}
        </label>
        <input type="email" class="form-control" id="exampleInputEmail1" [(ngModel)]="model.permiso" aria-describedby="emailHelp" placeholder="{{ 'mod-modules.PLACEHOLDER_PERMISSION_NICKNAME' | translate}}" readonly>
        <small id="emailHelp" class="form-text text-muted">{{ 'mod-modules.ERROR_PERMISSION_NICKNAME' | translate}}</small>
      </div>
      <div class="col-sm-12 form-group">
        <label for="exampleInputEmail1">
          {{ 'mod-modules.LABEL_PERMISSION_DESCRIPTION' | translate}}
        </label>
        <input type="email" class="form-control" id="exampleInputEmail1" [(ngModel)]="model.descripcion" aria-describedby="emailHelp" placeholder="{{ 'mod-modules.PLACEHOLDER_PERMISSION_DESCRIPTION' | translate}}">
        <small id="emailHelp" class="form-text text-muted">{{ 'mod-modules.ERROR_PERMISSION_DESCRIPTION' | translate}}</small>
      </div>
      @if(mostrarCheck){
        <div class="col-sm-12 form-group">
          <label for="exampleInputEmail1">
            {{ 'mod-modules.LABEL_HAS_MODULES' | translate}}
          </label>
          <input type="checkbox" [(ngModel)]="model.tiene_submodulos">
        </div>
      }
    </div>  
    <div class="col-sm-12 row p-0">
      <div class="col-sm-12">
        <button class="btn btn-sm btn-primary btnAction d-none">
          {{ 'mod-modules.BUTTON_EDIT_PERMISSION_MODULE' | translate}}
        </button>
      </div>
    </div>
  </div>

</div>
