<div class="">
  <div class="col-xl-12 col-sm-12 row">
    <div class="col-xl-3 col-sm-12 text-center my-auto">
      <app-globales-avatar></app-globales-avatar>
    </div>
    <div class="col-xl col-sm-12">
      <div class="col-sm-12 row p-0">
        <div class="col-sm-6 form-group">
          <label for="exampleInputEmail1">
            {{ 'mod-users.LABEL_USER_FIRSTNAME' | translate}}
          </label>
          <input type="text" class="form-control" [(ngModel)]="model.firstName" (ngModelChange)="onInputChange()" [class.is-invalid]="validators.firstName" placeholder="{{ 'mod-users.PLACEHOLDER_USER_FIRSTNAME' | translate}}">
          @if(validators.firstName) {
            <span class="text-danger small">{{ 'mod-users.ERROR_USER_FIRSTNAME' | translate }}</span>
          }
        </div>
        <div class="col-sm-6 form-group">
          <label for="exampleInputEmail1">
            {{ 'mod-users.LABEL_USER_LASTNAME' | translate}}
          </label>
          <input type="text" class="form-control" [(ngModel)]="model.lastName" (ngModelChange)="onInputChange()" [class.is-invalid]="validators.lastName" placeholder="{{ 'mod-users.PLACEHOLDER_USER_LASTNAME' | translate}}">
          @if(validators.lastName) {
            <span class="text-danger small">{{ 'mod-users.ERROR_USER_LASTNAME' | translate }}</span>
          }
        </div>
      </div>
      <div class="col-sm-12 row p-0">
        <div class="col-sm-6 form-group">
          <label for="exampleInputEmail1">
            {{ 'mod-users.LABEL_USER_EMAIL' | translate}}
          </label>
          <input type="email" class="form-control" [(ngModel)]="model.email" (ngModelChange)="onInputChange()" [class.is-invalid]="validators.email" placeholder="{{ 'mod-users.PLACEHOLDER_USER_EMAIL' | translate}}">
          @if(validators.email) {
            <span class="text-danger small">{{ 'mod-users.ERROR_USER_EMAIL' | translate }}</span>
          }
        </div>
        <div class="col-sm-6 form-group">
          <label for="exampleInputEmail1">
            {{ 'mod-users.LABEL_USER_PASSWORD' | translate}}
          </label>
          <div class="input-group">
            <input
            [(type)]="typepassword"
            class="form-control form-control-user"
            [(ngModel)]="model.password"
            (ngModelChange)="onInputChange()"
            [class.is-invalid]="validators.password"
            placeholder="{{ 'mod-users.PLACEHOLDER_USER_PASSWORD' | translate}}"
            name="model.password"
            >
            <div class="input-group-prepend">
              <div class="input-group-text">
                <input type="checkbox" aria-label="Checkbox for following text input" (click)="showPassword()" title="mostrar contraseña">
              </div>
            </div>
          </div>
          @if(validators.email) {
            <span class="text-danger small">{{ 'mod-users.ERROR_USER_EMAIL' | translate }}</span>
          }
        </div>
      </div>
      <div class="col-sm-12 row p-0">
        <div class="col-sm-6 form-group">
          <label for="exampleInputEmail1">
            {{ 'mod-users.LABEL_USER_STATUS' | translate}}
          </label>
          <select [(ngModel)]="optionSelect" (ngModelChange)="onInputChange()" [class.is-invalid]="validators.selectHas" class="form-control">
            <option [value]="0">
              {{ 'mod-users.SELECT_STATUS_USER_SELECT_OPTION' | translate}}
            </option>
            <option [ngValue]="1">
              {{ 'mod-users.WORD_ACTIVED' | translate}}
            </option>
            <option [ngValue]="2">
              {{ 'mod-users.WORD_INACTIVED' | translate}}
            </option>
          </select>
        </div>
        <div class="col-sm-6 form-group">
        </div>
      </div>
      <div class="col-sm-12 row p-0">
        <div class="col-sm-12">
          <button class="btn btn-sm btn-primary btnAction d-none" (click)="crearUsuario()">
            {{ 'mod-users.BUTTON_USER_CREATE' | translate}}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
