<div class="">
  <div class="col-xl-12 col-sm-12 row">
    <div class="col-xl-3 col-sm-12 text-center my-auto">
      <app-globales-avatar></app-globales-avatar>
    </div>
    <div class="col-xl col-sm-12">
      <div class="col-sm-12 row p-0">
        <div class="col-sm-6 form-group">
          <label for="exampleInputEmail1">
            {{ 'mod-users.LABEL_USER_FIRSTNAME' | translate}}
          </label>
          <input type="email" class="form-control" id="exampleInputEmail1" [(ngModel)]="model.firstName" aria-describedby="emailHelp" placeholder="{{ 'mod-users.PLACEHOLDER_USER_FIRSTNAME' | translate}}">
          <small id="emailHelp" class="form-text text-muted">{{ 'mod-users.ERROR_USER_FIRSTNAME' | translate}}</small>
        </div>
        <div class="col-sm-6 form-group">
          <label for="exampleInputEmail1">
            {{ 'mod-users.LABEL_USER_LASTNAME' | translate}}
          </label>
          <input type="email" class="form-control" id="exampleInputEmail1" [(ngModel)]="model.lastName" aria-describedby="emailHelp" placeholder="{{ 'mod-users.PLACEHOLDER_USER_LASTNAME' | translate}}">
          <small id="emailHelp" class="form-text text-muted">{{ 'mod-users.ERROR_USER_LASTNAME' | translate}}</small>
        </div>
      </div>
      <div class="col-sm-12 row p-0">
        <div class="col-sm-6 form-group">
          <label for="exampleInputEmail1">
            {{ 'mod-users.LABEL_USER_EMAIL' | translate}}
          </label>
          <input type="email" class="form-control" id="exampleInputEmail1" [(ngModel)]="model.email" aria-describedby="emailHelp" placeholder="{{ 'mod-users.PLACEHOLDER_USER_EMAIL' | translate}}">
          <small id="emailHelp" class="form-text text-muted">{{ 'mod-users.ERROR_USER_EMAIL' | translate}}</small>
        </div>
        <div class="col-sm-6 form-group">
          <label for="exampleInputEmail1">
            {{ 'mod-users.LABEL_USER_PASSWORD' | translate}}
          </label>
          <div class="input-group">
            <input
            [(type)]="typefield"
            class="form-control form-control-user"
            id="exampleInputPassword"
            placeholder="{{ 'mod-users.PLACEHOLDER_USER_PASSWORD' | translate}}"
            [(ngModel)]="model.password"
            name="model.password"
            >
            <div class="input-group-prepend">
              <div class="input-group-text">
                <input type="checkbox" aria-label="Checkbox for following text input" (click)="showPassword()" title="mostrar contraseña">
              </div>
            </div>
          </div>
          <small id="emailHelp" class="form-text text-muted">{{ 'mod-users.ERROR_USER_PASSWORD' | translate}}</small>
        </div>
      </div>
      <div class="col-sm-12 row p-0">
        <div class="col-sm-6 form-group">
          <label for="exampleInputEmail1">
            {{ 'mod-users.LABEL_USER_STATUS' | translate}}
          </label>
          <select [(ngModel)]="model.isActive" class="form-control">
            <option [ngValue]="true">
              {{ 'mod-users.WORD_ACTIVED' | translate}}
            </option>
            <option [ngValue]="false">
              {{ 'mod-users.WORD_INACTIVED' | translate}}
            </option>
          </select>
        </div>
        <div class="col-sm-6 form-group">
        </div>
      </div>
      <div class="col-sm-12 row p-0">
        <div class="col-sm-12">
          <button class="btn btn-sm btn-primary btnAction d-none" (click)="crearUsuario()">
            {{ 'mod-users.BUTTON_USER_CREATE' | translate}}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
