<div class="">
    <div class="col-xl col-sm-12 card">
        <input type="text" class="d-none complementoRuta" value="">
        <div class="col-sm-12">
            <label for="exampleInputEmail1">
                {{ 'mod-users.LABEL_USER_EMAIL' | translate}}
            </label>
            <input type="email" class="form-control" id="exampleInputEmail1" [(ngModel)]="model.email" aria-describedby="emailHelp" placeholder="{{ 'mod-users.PLACEHOLDER_USER_EMAIL' | translate}}">
        </div>
        <div class="col-sm-12">
            <label for="exampleInputEmail1">
                {{ 'mod-users.LABEL_USER_FIRSTNAME' | translate}}
            </label>
            <input type="email" class="form-control" id="exampleInputEmail1" [(ngModel)]="model.firstName" aria-describedby="emailHelp" placeholder="{{ 'mod-users.PLACEHOLDER_USER_FIRSTNAME' | translate}}">
        </div>
        <div class="col-sm-12">
            <label for="exampleInputEmail1">
                {{ 'mod-users.LABEL_USER_LASTNAME' | translate}}
            </label>
            <input type="email" class="form-control" id="exampleInputEmail1" [(ngModel)]="model.lastName" aria-describedby="emailHelp" placeholder="{{ 'mod-users.PLACEHOLDER_USER_LASTNAME' | translate}}">
        </div>
        <div class="col-sm-12">
            <label for="exampleInputEmail1">
                {{ 'mod-users.LABEL_USER_STATUS' | translate}}
            </label>
            <select name="" id="" class="form-control" [(ngModel)]="model.isActive">
                <option value="">{{ 'mod-users.SELECT_STATUS_USER_SELECT_OPTION' | translate}}</option>
                <option value="1">{{ 'mod-users.WORD_ACTIVED' | translate}}</option>
                <option value="0">{{ 'mod-users.WORD_INACTIVED' | translate}}</option>
            </select>
        </div>
        <button class="d-none limpiar" (click)="limpiar()"></button>
        <button class="d-none filtrar" (click)="filtrar()"></button>
    </div>
</div>