<div class="">
    <div class="col-xl col-sm-12 card">
        <input type="text" class="d-none complementoRuta" value="">
        <div class="col-sm-12">
            <label for="exampleInputEmail1">
                {{ 'mod-users.Label.email' | translate}}
            </label>
            <input type="email" class="form-control" id="exampleInputEmail1" [(ngModel)]="model.email" aria-describedby="emailHelp" placeholder="{{ 'mod-users.Placeholder.email' | translate}}">
            <small id="emailHelp" class="form-text text-muted">{{ 'mod-users.Error.email' | translate}}</small>
        </div>
        <div class="col-sm-12">
            <label for="exampleInputEmail1">
                {{ 'mod-users.Label.firstName' | translate}}
            </label>
            <input type="email" class="form-control" id="exampleInputEmail1" [(ngModel)]="model.firstName" aria-describedby="emailHelp" placeholder="{{ 'mod-users.Placeholder.firstName' | translate}}">
            <small id="emailHelp" class="form-text text-muted">{{ 'mod-users.Error.firstName' | translate}}</small>
        </div>
        <div class="col-sm-12">
            <label for="exampleInputEmail1">
                {{ 'mod-users.Label.lastName' | translate}}
            </label>
            <input type="email" class="form-control" id="exampleInputEmail1" [(ngModel)]="model.lastName" aria-describedby="emailHelp" placeholder="{{ 'mod-users.Placeholder.lastName' | translate}}">
            <small id="emailHelp" class="form-text text-muted">{{ 'mod-users.Error.isActive' | translate}}</small>
        </div>
        <div class="col-sm-12">
            <label for="exampleInputEmail1">
                {{ 'mod-users.Label.statusUser' | translate}}
            </label>
            <select name="" id="" class="form-control" [(ngModel)]="model.isActive">
                <option value="">{{ 'mod-users.Placeholder.select' | translate}}</option>
                <option value="0">{{ 'mod-users.Placeholder.isActive' | translate}}</option>
                <option value="1">{{ 'mod-users.Placeholder.isInactive' | translate}}</option>
            </select>
            <small id="emailHelp" class="form-text text-muted">{{ 'mod-users.Error.isActive' | translate}}</small>
        </div>
        <button class="d-none limpiar" (click)="limpiar()"></button>
        <button class="d-none filtrar" (click)="filtrar()"></button>
    </div>
</div>