<div class="">
  @for (item of user; track item; let  i = $index) {
    <div class="col-xl-12 col-sm-12 row">
      <div class="col-xl-3 col-sm-12 text-center my-auto">
        <app-globales-avatar></app-globales-avatar>
      </div>
      <div class="col-xl col-sm-12">
        <div class="col-sm-12 row p-0">
          <div class="col-sm-6 form-group">
            <label for="exampleInputEmail1">
              {{ 'mod-users.LABEL_USER_FIRSTNAME' | translate}}
            </label>
            <input type="text" class="form-control" id="exampleInputEmail1" [(ngModel)]="model.firstName" aria-describedby="emailHelp">
            <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
          </div>
          <div class="col-sm-6 form-group">
            <label for="exampleInputEmail1">
              {{ 'mod-users.LABEL_USER_LASTNAME' | translate}}
            </label>
            <input type="text" class="form-control" id="exampleInputEmail1" [(ngModel)]="model.lastName" aria-describedby="emailHelp">
            <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
          </div>
        </div>
        <div class="col-sm-12 row p-0">
          <div class="col-sm-6 form-group">
            <label for="exampleInputEmail1">
              {{ 'mod-users.LABEL_USER_EMAIL' | translate}}
            </label>
            <input type="text" class="form-control" id="exampleInputEmail1" [(ngModel)]="model.email" aria-describedby="emailHelp">
            <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
          </div>
          <div class="col-sm-6 form-group">
            <label for="exampleInputEmail1">
              {{ 'mod-users.LABEL_USER_PASSWORD' | translate}}
            </label>

          <div class="input-group">
            <input
            [(type)]="typefield"
            class="form-control form-control-user"
            id="exampleInputPassword"
            placeholder="{{ 'mod-users.PLACEHOLDER_USER_PASSWORD' | translate}}"
            [(ngModel)]="model.password"
            name="model.password"
            >
            <!--
            <div class="input-group-prepend">
              <div class="input-group-text">
                <input type="checkbox" aria-label="Checkbox for following text input" (click)="showPassword()" title="mostrar contraseña">
              </div>
            </div>
            -->
          </div>
            <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
          </div>
        </div>
        <div class="col-sm-12 row p-0">
          <div class="col-sm-6 form-group">
            <label for="exampleInputEmail1">
              {{ 'mod-users.LABEL_USER_STATUS' | translate}}
            </label>
            <select [(ngModel)]="model.isActive" class="form-control">
              <option [ngValue]="true">
                {{ 'mod-users.SELECT_STATUS_USER_ACTIVE_OPTION' | translate}}
              </option>
              <option [ngValue]="false">
                {{ 'mod-users.SELECT_STATUS_USER_INACTIVE_OPTION' | translate}}
              </option>
            </select>
          </div>
        </div>
        <div class="col-sm-12 row p-0">
          <div class="col-sm-12">
            <button class="btn btn-sm btn-primary btnAction d-none" (click)="actualizarData()">
              {{ 'mod-users.BUTTON_USER_EDIT' | translate}}
            </button>
          </div>
        </div>
      </div>
    </div>

  }

</div>



