<div class="">
  <select [(ngModel)]="languague" (change)="cambiarIdioma()" class="custom-select custom-select-sm my-lg-n1">
    <option value="es">
      🇪🇸 {{ 'global-idioma.WORD_SPANISH' | translate}}
    </option>
    <option value="en">
      🇺🇸 {{ 'global-idioma.WORD_ENGLISH' | translate}}
    </option>
    <option value="fr">
      🇫🇷 {{ 'global-idioma.WORD_FRENCH' | translate}}
    </option>
    <option value="ge">
      🇩🇪 {{ 'global-idioma.WORD_GERMAN' | translate}}
    </option>
  </select>
</div>
