:host {
  --gradient-hover: linear-gradient(90deg,#2b87ff 0%, #5aa3f2 45%);

  &[data-theme='dark'], 
  &:host-context([data-theme='dark']) {
    --gradient-hover: linear-gradient(90deg,#a7a9ac 0%, #cbced1 45%);
  }
}

.parent {
  display: flex;
  flex-flow: row wrap;
}

.item {
  padding: 0.2rem;
}

.card-option {
  height: 100%;
  transition: transform 0.1s ease-in; 
}

.card-option:hover nb-card-body, 
.card-option:hover .card-body { 
  background: #2b87ff;
  background: var(--gradient-hover);
}

.card-option {
  transform: scale(0.9, 0.9);
}

.card-option:hover {
  transform: scale(1, 1);
}

/* --- MEDIA QUERIES OPTIMIZADAS --- */

/* Tamaños Grandes y Medios */
@media only screen and (max-width: 2560px) {
  .item { width: 20% !important; }
}

/* Tablets */
@media only screen and (max-width: 768px) {
  .item { width: 50% !important; }
}

/* Móviles */
@media only screen and (max-width: 425px) {
  .item { width: 100% !important; }
}