<div class="card shadow">
  <div class="mb-2">
    <h1 class="text-center m-0 mt-4 mb-2">
      {{ 'mod-main.TITTLE_MENU' | translate }}
    </h1>
  </div>

  <div class="">
    <div class="parent">
      @if(tienePermiso(ADMIN_PAGE_MENU_PERSMISSION_USERS)){
      <a [routerLink]="LAYOUT_ADMIN_PAGE_USERS" class="item" style="text-decoration: none; color: inherit; display: block;">
        <div class="card card-option">
          <div class="card-body text-center p-0 pb-3 pt-3">
            <img src="https://icons.iconarchive.com/icons/oxygen-icons.org/oxygen/256/Actions-user-group-new-icon.png" width="80px">
          </div>
          <div class="card-footer text-center">
            <span>{{ 'mod-main.PAGES_USERS' | translate }}</span>
          </div>
        </div>
      </a>
      }

      @if(tienePermiso(ADMIN_PAGE_MENU_PERSMISSION_MODULES)){
      <a [routerLink]="LAYOUT_ADMIN_PAGE_MODULES" class="item" style="text-decoration: none; color: inherit; display: block;">
        <div class="card card-option">
          <div class="card-body text-center p-0 pb-3 pt-3">
            <img src="https://icons.iconarchive.com/icons/double-j-design/super-mono-3d/128/modules-icon.png" width="80px">
          </div>
          <div class="card-footer text-center">
            <span>{{ 'mod-main.PAGES_MODULES' | translate }}</span>
          </div>
        </div>
      </a>
      }
    </div>
  </div>
</div>
